.user{
    padding: 2px;
    font-weight:bold;
}

.profile{
    border-radius: 50%;
    height: 40px;
    width: 40px;
    margin: 5px;
}

.comment{
    margin-left: 10px;
    padding: 10px;
    color: #925024;
}

.comment-dark{
    background-color: #925024;
    color:floralwhite;
}

.post{
    padding: 10px;
    border-width: 2px solid;
    border-color : #d1ecf0d8;
}

.friend{
    padding: 5px;
    margin: 5px;
}