.user{
    padding: 2px;
    font-weight:bold;
}

.profile{
    border-radius: 50%;
    height: 40px;
    width: 40px;
    margin: 5px;
    /* color: antiquewhite; */
}

.comment{
    margin-left: 10px;
    padding: 10px;
    color: #925024;
}

.comment-dark{
    background-color: #925024;
    color:white;
}

.post{
    padding: 10px;
    border-width: 2px solid;
    border-color : #d1ecf0d8;
}

.textarea{
    resize:none;
}

a:link    {color:#000;} 
a:visited {color:#000;} 
a:active  {color:#000;}  