

.suggestions {
    
    list-style: none;
    margin-top: 0;
    max-height: 143px;
    overflow-x: auto;
    padding-left: 0;
    width: calc(400px + 1rem);
    color: #999;
  }
  
  .suggestions_li {
    color: #999;
    padding: 0.5rem;
  }
  .no-suggestions {
    color: #999;
    padding: 0.5rem;
  }

ul li {
    cursor: pointer;
}



